<section class="bg-black">
    <div class="max-w-5xl mx-auto">
        <div class="flex items-start justify-center sm:justify-between py-7 mx-auto">
            <h3 class="text-white text-4xl font-bold hidden sm:block">pl<span class="text-yellow-500">e</span>x</h3>
            <div class="flex sm:space-x-4 space-x-2 mx-5">
                    <ul class="mx-auto">
                        <li><a href="#" class="font-bold text-white">Company</a></li>
                        <li class="text-slate-400 text-xs"><a href="">About</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Careers</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Our Culture</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Giving</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Press Room</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Partners</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Plex Gear</a></li>
                        <li class="text-slate-400 text-xs"><a href="">The Plex Blog</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="font-bold text-white">Plex Pass</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Go Premium</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Get Perks</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="font-bold text-white">Downloads</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Plex Media Server</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Apps & Devices</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Where to Watch</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="font-bold text-white">Resources</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Support</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Articles</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Forums</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Contact</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Billing Questions</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Status</a></li>
                        <li class="text-slate-400 text-xs"><a href="">Bug Bounty</a></li>
                        <li class="text-slate-400 text-xs"><a href="">CordCutter</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="font-bold text-white">Watch Free</a></li>
                        <li class="text-slate-400 text-xs"><a href="">TV Channel Finder</a></li>
                        <li class="text-slate-400 text-xs"><a href="">What to Watch</a></li>
                        <li class="text-slate-400 text-xs"><a href="">A24 collection</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row space-y-3 sm:space-y-0 text-gray-500 text-xs justify-center items-center sm:justify-between pb-5 sm:mx-3">
                <div class="flex items-center space-x-4">
                    <a href="#">Copyright &copy; 2022 Plex</a>
                    <a href="#">Privacy & Legal</a>
                    <a href="#">Ad Choices</a>
                    <a href="#">Accessibility</a>
                </div>
                <div class="flex space-x-4">
                    <a href="#"><i class="fa-brands fa-linked-in"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>
