    <nav class="bg-black py-4 flex justify-between px-3 overflow-x-hidden">
        <div class="flex justify-around items-center w-full xl:w-auto">
            <h3 class="text-white text-lg font-bold mx-2 sm:mx-0">pl<span class="text-yellow-500">e</span>x</h3>
            <div class="relative">
                <div class="absolute top-3 left-3">
                     <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
                </div>
              <input type="text"  [(ngModel)]="searchInp" class="h-11  bg-navInp sm:w-96 w-72 pl-10 pr-20 rounded-lg z-0 border-0  focus:bg-white focus:outline-0" placeholder="Search movies & TVs">
                <div class="absolute top-2 right-2">
                    <button class="h-7 sm:w-20 w-16 text-black rounded-lg bg-yellow-500 hover:bg-yellow-600" (click)="displayMovie()">Search</button>
                </div>
            </div>
            <button class="text-2xl mx-2 sm:mx-0 xl:hidden fa fa-bars text-white sm:pr-0"></button>
        </div>
        <ul class="hidden xl:flex justify-around items-center text-slate-300 space-x-3">
            <li class="text-sm"><a href="#">Free movies and TV</a></li>
            <li class="text-sm"><a href="#">Features</a></li>
            <li class="text-sm"><a href="#">Download</a></li>
            <li class="text-sm"><a href="#">News</a></li>
            <li class="text-sm"><a href="#">Sign in</a></li>
            <button class="bg-yellow-500 rounded-md p-1 text-sm text-black font-bold">Sign Up</button>
        </ul>
    </nav>
<!-- Modal toggle -->
<button class="hidden" type="button" id="modalBtn" data-modal-toggle="defaultModal"></button>
  
  <!-- Main modal -->
  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
      <div class="absolute w-full h-full  max-h-[80vh] overflow-y-auto max-w-2xl md:h-auto">
            <div class="items-center justify-center  z-[60] bottom-[10%] bg-grad max-w-2xl w-full fixed flex p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600" *ngIf="!loading && searchResult.length > 1">
                <button  type="button" class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" (click)="setCategory('movie')">Movies</button>
                <button type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 " (click)="setCategory('tv')">Tvs</button>
            </div>
          <!-- Modal content -->
          <div class="relative bg-grad rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-center justify-center p-4 border-b rounded-t dark:border-gray-600" *ngIf="!loading">
                <h3 class="text-xl font-semibold text-white text-center">Showing All results for "{{searchInp}}"</h3>
            </div>
            <div class="h-full w-full bg-transparent flex items-center justify-center p-24" *ngIf="loading">
                <div class="w-16 h-16 border-4 border-dashed rounded-full transition-all animate-spin border-yellow-500"></div>
            </div>
            <div class="p-6 space-y-6 text-yellow-50" *ngIf="!loading && searchResult.length >= 1">
               <div *ngFor="let result of searchResult">
                    <a (click)="closeModal()" *ngIf="result.title" routerLink='/movieDetail/{{result.id}}' class="flex items-start space-x-4">
                        <img class="object-cover rounded h-16 w-auto" src="https://image.tmdb.org/t/p/w220_and_h330_face{{result.poster_path}}" alt="movie pic">
                        <div class="flex flex-col ">
                            <p class="text-white text-md">{{result.title}}</p>
                            <p class="text-gray-400">{{result.media_type}}</p>
                        </div>
                    </a>
                    <a (click)="closeModal()" *ngIf="result.original_name" routerLink='/tvDetail/{{result.id}}' class="flex items-start space-x-4">
                        <img class="object-cover rounded h-16 w-auto" src="https://image.tmdb.org/t/p/w220_and_h330_face{{result.poster_path}}" alt="movie pic">
                        <div  class="flex flex-col ">
                            <p class="text-white text-md"> {{result.original_name}}</p>
                            <p class="text-gray-400">{{result.media_type}}</p>
                        </div>
                    </a>
                    <div *ngIf="result.known_for_department" class="flex items-start space-x-4">
                        <div  class="flex flex-col ">
                            <p class="text-white text-md"> {{result.name}}</p>
                            <p class="text-gray-400">{{result.known_for_department}}</p>
                        </div>
                    </div>
            </div>
            </div>
            <div *ngIf="!loading && searchResult.length < 1" class="p-6">
                <h1 class="text-white text-center text-2xl">No results matched the term "{{searchInp}}"</h1>
            </div>
            <button data-modal-toggle="defaultModal" id="modalCloseBtn" class="hidden" type="button">I accept</button>
          </div>
      </div>
  </div>
  

