<section class="hidden lg:block relative">
    <video  muted autoplay preload="auto" loop class="" height="50%">
        <source  autoplay src="../../../assets/vids/movies_and_tv_hero_background.mp4" type="video/mp4">
    </video>
    <div class="hidden md:flex w-1/3 flex-col p-4 space-y-4 justify-center  top-0 h-full left-0  md:absolute bg-gradient-to-r from-grad via-grad">
        <h1 class="text-white text-3xl pl-12">Go ahead,Stream Free</h1>
        <p class="text-white text-lg pl-12">With Plex you can watch over 20,000 free movies and shows, plus Live TV on almost any device. What are you waiting for?</p>
        <button class="bg-yellow-500 ml-12 rounded-md py-3 text-2xl text-black font-bold w-fit px-6">Sign Up</button>
    </div>
</section>
<section class="pb-10 h-[50vh] lg:hidden relative">
    <div class="max-w-screen-lg mx-auto">
        <img src="../../../assets/Image/photo.avif" class="bg-fixed" alt="">
    </div>
    <div class="flex justify-center items-center space-y-3 mx-auto absolute bottom-0 w-full flex-col p-4 bg-gradient-to-t from-grad via-grad">
        <h1 class="text-white text-3xl text-center">Go ahead,Stream Free</h1>
        <p class="text-white text-lg text-center">With Plex you can watch over 20,000 free movies and shows, plus Live TV on almost any device. What are you waiting for?</p>
        <button class="ali bg-yellow-500 rounded-md py-3 text-sm text-black font-bold w-fit px-6">Sign Up</button>
    </div>
</section>

<app-popular></app-popular>
<app-movies></app-movies>
<app-faq ></app-faq>
<app-footer></app-footer>
