
<nav class="bg-black border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="" class="flex items-center">
        <h3 class="text-white text-lg font-bold mx-2 sm:mx-0">pl<span class="text-yellow-500">e</span>x</h3>
    </a>
    <div class="flex md:order-2">
      <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-gray-50 focus:text-black hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-black rounded-lg text-sm p-2.5 mr-1" >
        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Search</span>
      </button>
      <div class="relative hidden md:block">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-300" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Search icon</span>
        </div>
        <div class="relative w-full">
          <input type="text" id="search-navbar" [(ngModel)]="searchInp" class="block w-full p-2 pl-4 text-sm text-white  rounded-lg bg-navInp focus:ring-yellow-500 focus:border-yellow-500 " placeholder="Search Movies & Tvs">
          <div class="absolute top-1 right-2">
            <button (click)="displayMovie()" class="fa fa-search p-2 rounded-full bg-yellow-500 text-black focus:bg-yellow-300"></button>
          </div>
        </div>
      </div>
      <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 text-sm text-slate-300 rounded-lg md:hidden hover:bg-yellow-500 focus:text-black focus:outline-none focus:ring-2 focus:ring-black" aria-controls="navbar-search" aria-expanded="false">
        <span class="sr-only">Open menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
        <div class="relative mt-3 md:hidden">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          </div>
          <div class="relative">
            <input type="text" id="search-navbar" [(ngModel)]="searchInp" class="block w-full p-2 pl-10 text-sm border rounded-lg bg-navInp border-gray-600 placeholder-gray-400 focus:ring-yellow-500 focus:border-yellow-500 text-white" placeholder="Search Movies and Tvs">
            <div class="absolute top-1 right-2">
              <button (click)="displayMovie()" class="h-7 sm:w-20 w-16 text-black rounded-lg bg-yellow-500 hover:bg-yellow-600">Search</button>
          </div>
          </div>
        </div>
        <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 ">
          <li>
            <a routerLink="" class="block py-2 pl-3 pr-4 text-white bg-yellow-500 rounded md:bg-transparent md:text-yellow-500 md:p-0 dark:text-white" aria-current="page">Home</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-slate-200 rounded hover:bg-yellow-400 md:hover:bg-transparent md:hover:text-yellow-500 md:p-0">Free movies and TV</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-slate-200 rounded hover:bg-yellow-400 md:hover:bg-transparent md:hover:text-yellow-500 md:p-0 ">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <button class="hidden" type="button" id="modalBtn" data-modal-toggle="defaultModal"></button>
  
  <!-- Main modal -->
  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
      <div class="absolute w-full h-full  max-h-[80vh] overflow-y-auto max-w-2xl md:h-auto">
            <div class="items-center justify-center  z-[60] bottom-[10%] bg-grad max-w-2xl w-full fixed flex p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600" *ngIf="!loading && searchResult.length > 1">
                <button  type="button" class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" (click)="setCategory('movie')">Movies</button>
                <button type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 " (click)="setCategory('tv')">Tvs</button>
            </div>
          <!-- Modal content -->
          <div class="relative bg-grad rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-center justify-center p-4 border-b rounded-t dark:border-gray-600" *ngIf="!loading">
                <h3 class="text-xl font-semibold text-white text-center">Showing All results for "{{searchInp}}"</h3>
            </div>
            <div class="h-full w-full bg-transparent flex items-center justify-center p-24" *ngIf="loading">
                <div class="w-16 h-16 border-4 border-dashed rounded-full transition-all animate-spin border-yellow-500"></div>
            </div>
            <div class="p-6 space-y-6 text-yellow-50" *ngIf="!loading && searchResult.length >= 1">
               <div *ngFor="let result of searchResult">
                    <a (click)="closeModal()" *ngIf="result.title" routerLink='/movieDetail/{{result.id}}' class="flex items-start space-x-4">
                        <img class="object-cover rounded h-16 w-auto" src="https://image.tmdb.org/t/p/w220_and_h330_face{{result.poster_path}}" alt="movie pic">
                        <div class="flex flex-col ">
                            <p class="text-white text-md">{{result.title}}</p>
                            <p class="text-gray-400">{{result.media_type}}</p>
                        </div>
                    </a>
                    <a (click)="closeModal()" *ngIf="result.original_name" routerLink='/tvDetail/{{result.id}}' class="flex items-start space-x-4">
                        <img class="object-cover rounded h-16 w-auto" src="https://image.tmdb.org/t/p/w220_and_h330_face{{result.poster_path}}" alt="movie pic">
                        <div  class="flex flex-col ">
                            <p class="text-white text-md"> {{result.original_name}}</p>
                            <p class="text-gray-400">{{result.media_type}}</p>
                        </div>
                    </a>
                    <div *ngIf="result.known_for_department" class="flex items-start space-x-4">
                        <div  class="flex flex-col ">
                            <p class="text-white text-md"> {{result.name}}</p>
                            <p class="text-gray-400">{{result.known_for_department}}</p>
                        </div>
                    </div>
            </div>
            </div>
            <div *ngIf="!loading && searchResult.length < 1" class="p-6">
                <h1 class="text-white text-center text-2xl">No results matched the term "{{searchInp}}"</h1>
            </div>
            <button data-modal-toggle="defaultModal" id="modalCloseBtn" class="hidden" type="button">I accept</button>
          </div>
      </div>
  </div>
  