<div class="max-w-2xl mx-auto bg-faq sm:p-16 p-10 rounded overflow-x-hidden">
	<div id="accordion-flush" data-accordion="collapse">
		<h2 id="accordion-flush-heading-1">
			<button type="button" class="flex items-center  justify-between p-5  w-full font-medium text-left border border-l-0 border-r-0 border-black  border-b-0 text-slate-100 dark:text-white  dark:bg-gray-800 " data-accordion-target="#accordion-flush-body-1"  aria-controls="accordion-flush-body-1" aria-expanded="false">
      <span>What is plex?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0 rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
		</h2>
		<div id="accordion-flush-body-1" aria-labelledby="accordion-flush-heading-1">
			<div class="p-5 border border-black  dark:bg-gray-900 border-t-0   border-l-0 border-r-0">
				<p class="mb-2 text-slate-100 dark:text-gray-400">A one-stop destination to stream movies, TV shows, sports, and music, Plex is the most comprehensive entertainment platform available today. Available on almost any device, Plex is the first-and-only streaming platform to offer free ad-supported movies, shows, and live TV together with the ability to easily search—and add to your Watchlist—any title ever made, no matter which streaming service it lives on. Using the platform as their entertainment concierge, 13 million (and growing!) monthly active users count on Plex for new discoveries and recommendations from all their favorite streaming apps, personal media libraries, and beyond.</p>
			</div>
		</div>
		<h2 id="accordion-flush-heading-2">
			<button type="button" class="flex items-center  dark:focus:ring-gray-800 justify-between p-5 w-full font-medium border border-l-0 border-r-0 border-black dark:border-gray-700 border-b-0 text-left text-slate-100 dark:text-gray-400  dark:hover:bg-gray-800" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
      <span>Is plex really free?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
		</h2>
		<div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
			<div class="p-5 border border-black dark:border-gray-700  border-t-0  border-l-0 border-r-0">
				<p class="mb-2 text-slate-100 dark:text-gray-400">Plex is a free (and legal) streaming app for everyone, no credit cards or subscription costs or hidden fees. To keep our service free and legal, we include ads which monetize all of the content that our partners, such as Lionsgate, AMC, and Crackle, provide to us.</p>
			</div>
		</div>
		<h2 id="accordion-flush-heading-3">
			<button type="button" class="flex items-center border-l-0 border-r-0 border  dark:focus:ring-gray-800 border-black dark:border-gray-700 justify-between p-5 w-full font-medium text-left text-slate-100 dark:text-gray-400  dark:hover:bg-gray-800" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
      <span>Where is plex available</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
		</h2>
		<div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
			<div class="p-5 border border-black dark:border-gray-700 border-t-0  border-l-0 border-r-0">
				<p class="mb-2 text-slate-100 dark:text-gray-400">Plex is available in almost every country in the world. No other free streaming service delivers more content to and from more countries worldwide.</p>
			</div>
		</div>
		<h2 id="accordion-flush-heading-4">
			<button type="button" class="flex items-center border-l-0 border-r-0 border  dark:focus:ring-gray-800 border-black dark:border-gray-700 justify-between p-5 w-full font-medium text-left text-slate-100 dark:text-gray-400  dark:hover:bg-gray-800" data-accordion-target="#accordion-flush-body-4" aria-expanded="false" aria-controls="accordion-flush-body-4">
      <span>Where can i watch?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
		</h2>
		<div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-4">
			<div class="p-5 border border-black dark:border-gray-700 border-t-0  border-l-0 border-r-0">
				<p class="mb-2 text-slate-100 dark:text-gray-400">Watch Plex instantly online from your personal computer or on any internet-connected device that offers the Plex app. That includes streaming media players (Amazon Fire TV, Android TV, Apple TV, Chromecast, Roku, etc.), smart TVs (LG, Hisense, Samsung, VIZIO, etc.), smartphones, tablets, game consoles, and more!</p>
			</div>
		</div>
		<h2 id="accordion-flush-heading-5">
			<button type="button" class="flex items-center border-l-0 border-r-0 border  dark:focus:ring-gray-800 border-black dark:border-gray-700 justify-between p-5 w-full font-medium text-left text-slate-100 dark:text-gray-400  dark:hover:bg-gray-800" data-accordion-target="#accordion-flush-body-5" aria-expanded="false" aria-controls="accordion-flush-body-5">
      <span>Do i need to create an account?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
		</h2>
		<div id="accordion-flush-body-5" class="hidden" aria-labelledby="accordion-flush-heading-5">
			<div class="p-5 border border-black dark:border-gray-700 border-t-0  border-l-0 border-r-0">
				<p class="mb-2 text-slate-100 dark:text-gray-400">You do not need to create an account to use Plex, but you get more when you do. Benefits that come with your free account include more free content, access to your very own universal Watchlist, customize the streaming services that show up in your search results, the ability to pick up where you left off on any device, and more!</p>
			</div>
		</div>
		<h2 id="accordion-flush-heading-6">
			<button type="button" class="flex items-center border-l-0 border-r-0 border  dark:focus:ring-gray-800 border-black dark:border-gray-700 justify-between p-5 w-full font-medium text-left text-slate-100 dark:text-gray-400  dark:hover:bg-gray-800" data-accordion-target="#accordion-flush-body-6" aria-expanded="false" aria-controls="accordion-flush-body-6">
      <span>How can i personalize my experience?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
		</h2>
		<div id="accordion-flush-body-6" class="hidden" aria-labelledby="accordion-flush-heading-6">
			<div class="p-5 border border-black dark:border-gray-700 border-t-0  border-l-0 border-r-0">
				<p class="mb-2 text-slate-100 dark:text-gray-400">It’s free and easy. Just create your free Plex account, and you can add movies to your own universal Watchlist, add favorite channels to your live TV lineup, personalize your streaming services, and more.</p>
			</div>
		</div>
		<h2 id="accordion-flush-heading-7">
			<button type="button" class="flex items-center border-l-0 border-r-0 border  dark:focus:ring-gray-800 border-black dark:border-gray-700 justify-between p-5 w-full font-medium text-left text-slate-100 dark:text-gray-400  dark:hover:bg-gray-800" data-accordion-target="#accordion-flush-body-7" aria-expanded="false" aria-controls="accordion-flush-body-7">
      <span>What is Plex Pass? And can I use it to watch Plex ad-free?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
		</h2>
		<div id="accordion-flush-body-7" class="hidden" aria-labelledby="accordion-flush-heading-7">
			<div class="p-5 border border-black dark:border-gray-700 border-t-0  border-l-0 border-r-0">
				<p class="mb-2 text-slate-100 dark:text-gray-400">Plex Pass is our premium subscription option designed for our users looking to get the most out of their own personal media via their Plex Media Server. We do not currently offer any option for watching Plex-provided content without ads. A Plex Pass does not remove ads, nor does it provide access to extra content on our free services. Check out an overview on Plex Pass benefits here.</p>
			</div>
		</div>
	</div>
</div>
<h1 class="text-center text-white text-2xl">Take Plex everywhere</h1>
<p class="text-center text-slate-200 text-lg">Watch free anytime, anywhere, on almost any device.</p>
<ul class="max-w-2xl mx-auto flex items-center justify-center space-x-6 sm:space-x-10 flex-wrap bg-faq sm:p-16 p-10 space-y-7 sm:space-y-0 overflow-x-hidden">
    <li class="my-2"><img src="../../../assets/Image/Amazon Fire TV.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/Android.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/Apple TV.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/Chromecast.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/iOS.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/LG.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/nVidia.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/PlayStation.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/Roku.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/Samsung.png" alt=""></li>
    <li class="my-2"><img src="../../../assets/Image/VIZIO.png" alt=""></li>
</ul>




