<div class="bg-black h-screen overflow-hidden">
    <div class='flex flex-col bg-transparent shadow-md items-center  rounded-lg overflow-hidden mx-auto w-screen h-screen'>
        <div class="h-3/4 w-3/4 bg-black flex items-center justify-center" *ngIf="loading">
            <div class="w-16 h-16 border-4 border-dashed rounded-full transition-all animate-spin border-yellow-500"></div>
        </div>
        <iframe class="w-3/4 h-3/4"  *ngIf="!loading"  [src]="videoUrl | safe"></iframe>
        <!-- <button class="absolute shadow-lg rounded right-10 py-1 px-1 bg-yellow-500 " (click)="back()">Go back</button> -->
        <div class="flex justify-between  space-x-6 w-3/4 py-2">
            <button id="prevBtn" (click)="previousVideo()" class="bg-yellow-500 rounded shadow-md px-3 "><i class="fa fa-arrow-left"></i> Prev</button>
            <button (click)="goBack()" class="bg-yellow-500 rounded shadow-md px-3"><i class="fa fa-home"></i> Home</button>
            <button id="nextBtn" (click)="nextVideo()" class="bg-yellow-500 rounded shadow-md px-3"><i class="fa fa-arrow-right"></i> Next</button>
        </div>
    </div>
</div> 